@font-face {
  font-family: 'Adventure';
  src: url('Adventure.eot?#iefix') format('embedded-opentype'),  url('Adventure.woff') format('woff'), url('Adventure.ttf')  format('truetype'), url('Adventure.svg#Adventure') format('svg');
  font-weight: normal;
  font-style: normal;
}
